@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600&display=swap");
/*** ELEMENTS ***/
body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: rgb(110, 155, 199);
}
header,
main,
button,
footer {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
button {
  padding: 5px 8px;
  margin: 4px 2px;
  border-radius: 3px;
  border: 2px rgb(76, 87, 97) solid;
}

button:hover {
  background-color: rgb(187, 207, 235);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 8px;
  height: 35px;
}
h3 {
  font-size: 25px;
}
/*** MAIN COMPONENTS ***/
.game-buttons,
.container,
#header-title {
  border: 2px black solid;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgb(74, 84, 94);
}

/*** HEADER ***/
#header-title {
  text-align: center;
  margin: 20px auto;
  padding: 7px 0;
  background-color: #f0d7c7;
  width: 500px;
}

/*** GAME CONTAINER ***/
.container {
  background-color: white;
  margin: 0 auto;
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 10px rgb(74, 84, 94);
}

/*** BUTTON CONTAINER ***/
.grid-slider {
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
}
#cPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  margin: 5px 2px;
  border: 2px rgb(76, 87, 97) solid;
  border-radius: 3px;
}
#cPicker:focus {
  background-color: rgb(187, 207, 235);
}
.game-buttons {
  background-color: #f0d7c7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  width: 500px;
}
.active {
  background-color: rgb(187, 207, 235);
}
/*** FOOTER ICON ***/
i {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}
i:visited {
  color: black;
  text-decoration: none;
}
.secret {
  color: rgb(110, 155, 199);
  font-size: 17px;
  padding-left: 20px;
  width: 100px;
  margin-top: 200px;
}

.secret:hover {
  color: rgb(243, 208, 132);
}

/**** MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .game-buttons,
  .container,
  #header-title {
    width: 400px;
  }
  .game-buttons {
    height: 48px !important;
  }
  .container {
    height: 400px;
  }
  .slider {
    width: 100px;
  }
  button,
  .grid-slider {
    font-size: 18px;
  }
  button,
  #cPicker {
    height: 32px;
    margin: 6px 2px;
  }
  #cPicker {
    height: 32px;
  }
}
@media only screen and (max-height: 725px) and (min-width: 600px) {
  footer {
    display: none;
  }
}
